.cart-container {
  width: 730px;
  height: 600px;
  margin-top: 50px;
  margin-left: 96px;
  border: solid 1px black;
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}

.title-container {
  width: 454px;
  height: 60px;
  border: solid 1px black;
}

.bag-container {
  width: 730px;
  height: 360px;
  border: solid 1px black;
}

.header-container{
  display: flex;
  justify-content: left;
  border: solid 1px black;
  margin: 0
}

.total-container {
  width: 243px;
  height: 114px;
  float: right;
}

.continue-button {
  width: 297px;
  height: 56px;
  top: 75px;
  left: 0px;
  /* bottom: 0px; */
  left: 0px;
  border: solid 1px black;
  display: inline-block;
  position: relative;
}

.continue-button img {
  width: 100%
}
/* ==========Payment==========*/

.payment-container {
  width: 360px;
  height: 644px;
  margin-top: 40px;
  display: inline-block;
  float: right;
  right: 30px;
  position: relative;
  border: 1px solid black;
  /* padding: 2rem */
  /* margin-bottom: 12px; */
}
