.navbar{
  position: sticky;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #525252;
  border: solid;
}

.navbar a{
  margin-right: 3%;
}

.logo-container {
  left: 4%;
  top: 10%;
  width: 12%;
  position: inherit;
  display: inline-flex;
}
.logo-container a{
  text-decoration: none;
}

.title {
    /* font-family: HelveticaNeueCyr; */
  font-size: 25px;
  line-height: 25px;
  color: #222222;
  bottom: 43px;
  left: 68px;
  margin: 0;
  position: relative;
}
.logo {
  width: 50.34px
}

.navigation-container{
  display: inline-flex;
  width: 39%;
  border: solid;
  float: right;
  justify-content: flex-end;
  position: relative;
  margin-top: 1%;

}

.navigation {
  width: 27%;
  height: 0%;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  justify-content: flex-end;
  color: #525252;
  border: solid;
  position: inherit;
  float: right;
}

.cart {
  width: 31px;
  height: 31px;
  left: 1215px;
  top: 42px;

}

.search {
  width: 31px;
  height: 31px;
  left: 1254px;
  top: 42px;
}

.button-container{
  border: solid;
  width: 15%;
}
