.navbar{
  display: flex;
  width: 100%;
  height: 115px;
  left: 0px;
  top: 0px;
  box-shadow: -16px -10px 15px black;
}

.logo-container {

  left: 115px;
  top: 27px;
  position: relative;
}
.logo-container a{
  text-decoration: none;
}

.title {
    /* font-family: HelveticaNeueCyr; */
  font-size: 25px;
  line-height: 25px;
  color: #222222;
  bottom: 43px;
  left: 68px;
  margin: 0;
  position: relative;
}
.logo {
  width: 50.34px
}

.navigation {
  position: relative;
  width: 541px;
  height: 15px;
  /* font-family: Work Sans; */
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  text-align: right;
  color: #525252;
  top: 52px;
  left: 486px;
}

.cart {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1215px;
  top: 42px;

}

.search {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 1254px;
  top: 42px;
}
